@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");
@import "coin.css";

body,
html,
#wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: Roboto;
}

.space_sections {
  position: relative;
  height: 100vh;
  background-color: #2e005d;
}

#main-button {
  width: 5vh;
}

/* navigation */
.icon {
  position: relative;
  float: left;
  margin-right: 0.2vw;
  width: 1.5vw;
  height: 1.5vw;
  border: 0.1vw black solid;
  padding: 0.1vw;
  border-radius: 50%;
  transition: 0.8s;
}

.icon:hover {
  width: 1.8vw;
  height: 1.8vw;
  border: 0.2vw black solid;
  background: white;
}

.nav_text {
  /* position: static;
  visibility: visible; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: block;
  font-weight: 900;
  font-size: 1vw;
  margin: 0.2vw;
  text-decoration: underline;
  color: black;
}

.icon:hover+.nav_text {
  visibility: visible;
  bottom: 0;
  opacity: 1;
  transition: opacity 1s linear;
}

#nav_buttons {
  position: fixed;
  margin: 2vh;
  z-index: 90;
  height: 4vw;
}

#working_text {
  color: black;
  font-size: 1.5vh;
  float: right;
}

.nav_link {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

@media (orientation: portrait) {
  .icon {
    width: 1.5vh;
    height: 1.5vh;
    margin-right: 0.2vh;
    border: 0.1vh black solid;
    padding: 0.1vh;
  }

  .icon:hover {
    width: 1.8vh;
    height: 1.8vh;
    border: 0.2vh black solid;
    margin: 0.2vh;
  }

  .nav_text {
    position: static;
    float: left;
    visibility: visible;
    bottom: 0;
    opacity: 1;
    font-size: 1vh;
  }
}

/* end */
/* Intro */
#intro {
  position: relative;
  background-color: #dcf3ff;
  height: 100vh;
}

.my_title {
  position: absolute;
  left: 10vh;
  top: 10vh;
  text-align: center;
  z-index: 10;
  color: black;
  font-weight: 900;
  font-size: 10vh;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.sun {
  position: absolute;
  width: 20vh;
  top: 20px;
  right: 20px;
  bottom: 10%;
}

.city {
  position: absolute;
  bottom: 40vh;
  right: 0px;
  width: 85vh;
  z-index: 1;
}

.sea {
  position: absolute;
  bottom: 0;
  height: 40vh;
  width: 100%;
  background-color: #0180ed;
  z-index: 0;
}

.front {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

@media (orientation: portrait) {
  .my_title {
    top: auto;
    left: auto;
    bottom: 20vh;
    font-size: 5vh;
    width: 100%;
    left: auto;
    text-align: center;
  }
}

#scroll_down a span {
  position: absolute;
  bottom: 5vh;
  right: 5%;
  width: 8vh;
  height: 8vh;
  border-left: 0.5vh solid #fff;
  border-bottom: 0.5vh solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  transition: 0.3s;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    -webkit-transform: rotate(-45deg) translate(-0.8vw, 0.8vw);
  }

  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    transform: rotate(-45deg) translate(-0.8vw, 0.8vw);
  }

  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#scroll_down a span:hover {
  border-color: #000;
}

/* end */
/* underground */
#underground {
  position: relative;
  background-color: #3a3532;
}

#earth {
  width: 100%;
}

#main_underground {
  position: relative;
  height: 110vh;
}

#underground_text {
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 8vh;
  color: white;
  font-weight: 700;
}

#stone_top {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* end */
/* skills and certificates */
#skills_and_certifications {
  position: relative;
  min-height: 110vh;
  background-color: #3a3532;
  text-align: center;
}

#green_pipe {
  position: absolute;
  left: 40%;
  top: -25%;
  height: 150vh;
  width: 35vh;
  z-index: 10;
}

#skills_wrapper {
  position: absolute;
  width: 40%;
  left: 2vh;
  bottom: 15vh;
  top: 5vh;
}

.skills {
  display: inline-block;
  width: 20vh;
  margin: 3vh;
  margin-top: 8vh;
}

#certificates_wrapper {
  position: absolute;
  width: 40%;
  bottom: 15vh;
  right: 2vh;
  top: 5vh;
}

.skills_certificates_text {
  font-weight: 700;
  margin-bottom: 5%;
  font-size: 8vh;
  color: white;
}

.certificates {
  height: 20vh;
  margin: 3vh;
  transition: 0.3s;
}

.certificates:hover {
  height: 20.1vh;
  margin: 3.1vh;
}

#stone_bot {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

@media screen and (max-width: 1400px) {
  #skills_and_certifications {
    min-height: 240vh;
  }

  #green_pipe {
    position: absolute;
    left: auto;
    right: 1%;
    top: auto;
    bottom: 60vh;
    height: auto;
    width: 25vh;
    transform: scaleY(2.4);
  }

  #skills_wrapper {
    position: relative;
    width: 60%;
    left: auto;
    bottom: auto;
    top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 3px white solid;
  }

  .skills {
    display: inline-block;
    width: 100%;
    left: 0;
    margin: auto;
  }

  #certificates_wrapper {
    position: relative;
    width: 60%;
    bottom: 10vh;
    right: auto;
  }

  .certificates {
    margin: 0;
    margin-top: 2vh;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #skills_and_certifications {
    min-height: 210vh;
  }

  .skills_certificates_text {
    font-size: 4vh;
  }

  #certificates_wrapper {
    position: relative;

    width: 40%;
    left: 5%;
    bottom: 5vh;
  }

  #skills_wrapper {
    position: relative;
    left: 5%;
    padding-bottom: 2vh;
    width: 40%;
  }

  #green_pipe {
    bottom: 67vh;
    width: 15vh;
    transform: scaleY(3.4);
  }
}

/* end */
/* About Me */
#about_me {
  position: relative;
  height: 100vh;
  background-color: #2e005d;
}

#title_about_me {
  position: absolute;
  left: 5vh;
  top: 5vh;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  line-height: normal;
  text-align: center;
  color: white;
}

#about_me_text {
  position: absolute;
  top: 20vh;
  left: 45vh;
  text-align: center;
  width: 50%;
  font-weight: 100;
  font-size: 5vh;
  color: white;
  z-index: 10;
}

.stars {
  position: absolute;
  opacity: 0.5;
  width: 50vh;
  z-index: 0;
}

#about_me_comet {
  position: absolute;
  left: 10vh;
  top: 10vh;
  width: 50vh;
}

@media only screen and (max-width: 1400px) {
  #about_me {
    position: relative;
    height: 100vh;
    background-color: #2e005d;
  }

  #about_me_text {
    position: absolute;
    top: 20vh;
    left: 10vh;
    /* font-size: 3vh; */
  }

  #about_me_comet {
    right: 5vh;
    bottom: 5vh;
    left: auto;
    top: auto;
    width: 40vh;
  }
}

@media (orientation: portrait) {
  #about_me_text {
    top: 30%;
    left: 25%;
    font-size: 2.5vh;
  }

  .stars {
    position: absolute;
    width: 20vh;
  }

  #about_me_comet {
    position: absolute;
    width: 20vh;
    left: 5vh;
    top: 5vh;
  }
}

/* end */
/* Projects */
#projects {
  position: relative;
  height: 100vh;
  background-color: #2e005d;
}

.project_stars {
  position: absolute;
  z-index: 0;
  transition: 0.3s;
}

#cookie_clicker {
  width: 10vw;
  left: 2vw;
  top: 38vh;
}

#dicer {
  width: 15vw;
  left: 15vw;
  top: 15vh;
}

#inf_run {
  width: 14vw;
  left: 28vw;
  top: 32vh;
}

#e-commerce_star {
  width: 19vw;
  left: 50vw;
  top: 55vh;
}

#lasagna_star {
  width: 21vw;
  right: 2vw;
  top: 40vh;
}

#sas_star {
  width: 15vw;
  right: 22vw;
  top: 22vh;
}

#stars_project input:hover {
  width: 25vw;
}

#project_comet {
  position: absolute;
  right: 90vh;
  bottom: 20vh;
}

#Star_3 {
  transform: scaleY(2);
  background-color: red;
  border: 2px blue solid;
}

#title_projects {
  position: absolute;
  right: 10vh;
  top: 10vh;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  line-height: normal;
  text-align: center;
  color: white;
}

#projects_overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  color: white;
}

#project_head_info {
  position: absolute;
  left: 5vw;
  top: 10vh;
  text-align: center;
}

#project_title {
  font-family: 900;
  font-size: 3vw;
}

#project_logo {
  width: 15vw;
  margin-top: 2vh;
}

#project_desc {
  position: absolute;
  font-size: 3vw;
  right: 3vw;
  top: 5vh;
  bottom: 5vh;
  left: 25vw;
  padding-left: 3vw;
  border-left: 1vw white solid;
}

#project_desc span {
  font-weight: 900;
  font-size: 3vw;
}

#project_used_tech {
  text-align: left;
  font-size: 1vw;
  margin-top: 1vh;
}

#project_languages {
  position: absolute;
  margin-top: 1vh;
  font-size: 2vw;
}

/* Position the close button (top right corner) */
.close_project_btn {
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 6vh;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  z-index: 101;
}

#project_git_link {
  position: absolute;
  text-decoration: underline;
  font-size: 2vw;
  color: #818181;
  right: 2vw;
  bottom: 2vh;
}

#project_git_link:hover,
#project_git_link:focus,
.close_project_btn:hover,
.close_project_btn:focus {
  color: white;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

@media (orientation: portrait) {
  #project_head_info {
    top: 2vh;
    left: auto;
    width: 100%;
  }

  #project_desc {
    position: absolute;
    padding: 2vh;
    font-size: 4vw;
    top: 50%;
    right: auto;
    left: auto;
    border-left: 0;
    border-top: 1vw white solid;
  }

  #project_title {
    font-size: 6vw;
  }

  #project_logo {
    width: 20vw;
  }

  #project_used_tech {
    font-size: 2vh;
    text-align: center;
  }

  #project_languages {
    position: relative;
    font-size: 6vw;
  }
}

/* end */
/* Contact */
#contact_moon {
  position: absolute;
  width: 50vh;
  right: 5vh;
  top: 5vh;
}

#contact_text {
  left: 5vw;
  top: 20vh;
  position: absolute;
  text-align: center;
}

#title_contact {
  /* position: absolute; */
  font-weight: 700;
  color: white;
  font-size: 8vh;
  text-align: center;
  text-shadow: 30px 30px 20px rgba(255, 255, 255, 0.2);
}

#my_email {
  font-weight: 200;
  color: white;
  font-size: 3vw;
  text-align: center;
  text-shadow: 30px 30px 20px rgba(255, 255, 255, 0.5);
}

#my_email:hover {
  font-size: 3.2vw;
  transition: 0.3s;
}

.contact_icon img {
  height: 20vh;
  transition: 0.3s;
  margin-right: 3vh;
}

.contact_icon img:hover {
  height: 20.5vh;
}

@media (orientation: portrait) {
  #contact {
    text-align: center;
  }

  #contact_moon {
    width: 30vh;
    right: 5vh;
    top: 10vh;
  }

  #contact_text {
    left: auto;
    width: 100%;
    top: 50vh;
    position: absolute;
    text-align: center;
  }

  #title_contact {
    width: 100%;
    font-size: 4vh;
  }

  #my_email {
    width: 100%;
    font-size: 3vh;
  }

  #my_email:hover {
    font-size: 3vh;
  }

  #contact_icons {
    width: 100%;
  }

  #contact_icons img {
    width: 10vh;
  }

  #contact_icons img:hover {
    width: 15vh;
  }
}

/* end */
/* end */
#end_comet {
  position: absolute;
  right: 110vh;
  top: 10vh;
  width: 50vh;
}


#sitemap {
  position: absolute;
  bottom: 0;
  right: 0;
}